{% extends 'base.html.twig' %}

{% block title %}Panel de Administración{% endblock %}

{% block body %}
<div class="container mt-4">
    <h1>Dashboard de Gestión</h1>
    <div class="row mt-4">
        <div class="col-md-4">
            <div class="card text-white bg-primary mb-3">
                <div class="card-header">Videojuegos</div>
                <div class="card-body">
                    <h5 class="card-title">{{ num_juegos }} títulos registrados</h5>
                    <a href="{{ path('app_videojuego_new') }}" class="btn btn-light btn-sm">Añadir Nuevo</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card text-white bg-success mb-3">
                <div class="card-header">Usuarios</div>
                <div class="card-body">
                    <h5 class="card-title">{{ num_usuarios }} miembros</h5>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
